@import "materialize";

.brand-logo {
    img {
        height: 60px;
    }    
}

#login-container {
    margin-top: 50px;
}

.assignment-contents {
    background: $primary-color;

    a {
        color: white;
    }

    a:visited {
        color: white;
    }

    a:hover {
        color: $link-color;
    }
}

.accordion-header {
    color: white;
    padding: 10px;
}

.collapsible-body {
    padding: 15px;
}